# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.py text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
Dockerfile text eol=lf

# Documentation
*.pdf binary
*.doc binary
*.docx binary

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text eol=lf

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary

# Audio/Video
*.mp3 binary
*.mp4 binary
*.mov binary
*.flv binary

# Archives
*.gz binary
*.zip binary
*.7z binary

# Python specific
*.pyc binary
__pycache__/* binary